<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Promo project</title>
</head>
<body>
    <div class="page">
        <img src="" alt="" class="bg">
        <h1>Promo project</h1>
        <p>Контроль бюджета для всей семьи</p>
        <div class="buttons-container">
            {% if not user.is_authenticated %}
           <form action="{% url 'login' %}" target="_blank">
                <button>вход</button>
           </form>

            <form action="{% url 'register' %}" target="_blank">
                <button>Создать аккаунт</button>
            </form>
            {% endif %}
            {% if user.is_authenticated %}
            <form action="{% url 'get_transactions' %}" target="_blank">
                <p><button>Мои Транзакции</button></p>
            </form>

            <form action="{% url 'get_categories' %}" target="_blank">
                <p><button>Мои категории</button></p>
            </form>



            <form action="{% url 'logout' %}" target="_blank">
                <button>Выход</button>
            </form>

                <h1>Hi! {{user.first_name}}</h1>
            {% endif %}
        </div>
    </div>
    <div class="page">
        <h2>Приемущества</h2>
        <div class="feature-item">
            <img class="feature-pic" />
            <div class="feature-body">
                Ведите учёт с разных устройств всей <b>семьёй.</b> Актуальный баланс по всем счетам будет отображаться на каждом устройстве
            </div>
        </div>
        <div class="feature-item">
            <img class="feature-pic" />
            <div class="feature-body">
                Наглядная статистика <b>подскажет:</b>
                <ul>
                    <li>где тратить меньше</li>
                    <li>куда уходят все деньги</li>
                    <li>поможем принять <b>правильное</b> финансовое решение</li>
                </ul>
            </div>
        </div>
        <div class="feature-item">
            <img class="feature-pic" />
            <div class="feature-body">
                Мы всегда поможем <b>решить</b> вопросы, возникающие при использовании. Пишите на xxx@promo.me - команда поддержки решит все вопросы.
            </div>
        </div>
    </div>
    <div class="page">
        <h2>Тарифы</h2>
        <div class="card-container">
            <div class="card">
                <h3>Базовый</h3>
                <hr/>
                <ul>
                    <li>Подсчёт доходов и расходов</li>
                    <li>Наглядная статистика</li>
                </ul>
                <hr/>
                <button>Выбрать</button>
            </div>
            <div class="card">
                <h3>Продвинутый</h3>
                <hr/>
                <ul>
                    <li>Категории</li>
                    <li>Импорт расходов с банковских карт</li>
                    <li>Автоматическое распределение категорий</li>
                    <li>Установка лимитов</li>
                </ul>
                <hr/>
                <button>Купить за 3.99$</button>
            </div>
            <div class="card">
                <h3>Полный</h3>
                <hr/>
                <ul>
                    <li>Вложенные категории</li>
                    <li>Гибкое планирование бюджета</li>
                    <li>Прогноз финансового состояния</li>
                    <li>Учёт кредитных и дебетовых счетов</li>
                    <li>Управление доступами к семейному бюджету</li>
                    <li>Учёт инвестиций и многое другое</li>
                </ul>
                <hr/>
                <button>Купить за 8.99$</button>
            </div>
            <div class="card">
                <h3>Basic</h3>
                <hr/>
                <ul>
                    <li>Подсчёт доходов и расходов</li>
                    <li>Наглядная статистика</li>
                </ul>
                <hr/>
                <button>Выбрать</button>
            </div>
        </div>
    </div>
    <div class="page">
        <h2>Контакты</h2>
        <p>
            Хотите связатся с нами?
            <br>
            Или узнать больше?
        </p>
        <button>Напишите нам</button>
        <hr>
        <div class="social">
            <ul>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
                <li><a href=""><img src="" alt=""></a></li>
            </ul>
        </div>
    </div>
    <footer>
        ССылки и всё остальное для поисковых систем
        TODO: доделать.
    </footer>
</body>
</html>